main{
    display: flex;
    width: 100%;
    padding: 10px;
}

.cards{
    width: 100%;
}

.card_client{
    width: 29%;
    border: solid 1px rgba(0, 0, 0, 0.267);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    float: left;
}

.card_client p{
    margin: 5px;
}

.formulario{
    display: none;
}

#novo_cliente{
    position: fixed;
    margin-left:70%;
    padding: 5px;
    background-color: #3c83f6;
    border-radius: 5px;
}
