*{
    margin: 0px;
    padding: 0;

}
.logo-titulos{
    display: flex;
}
.logo{
    font-size: 24px;
    background-color: #3c83f6;
    width: 26px;
    border-radius: 6px;
    padding: 5px;
}
.titulos{
    font-size: 16px;
    margin-left: 10px;
}
.sidebar{
    padding: 10px;
    width: 20%;
    height: 100%;
    background-color: #0f1729;
    min-height: 100vh;
    color: #fff;
}
.sidebar_ul{
    padding: 10px;
    list-style: none;
}
.sidebar_li{
    padding: 10px;
    color: #ffffffd0;
    text-decoration: none;
    list-style: none;
}
.sidebar_li:hover{
    border-radius: 10px;
    cursor: pointer;
    background-color: #3c83f6;
}
span{
    margin: 10px;
}
body {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}
