main{
    width: 100%;
    padding: 15px;
}
table{
    background-color: black;
    width: 100%;
    text-align: center;
}
th{
    background-color: aliceblue;
}
td{
    background-color: aliceblue;
}