main{
    width: 100%;
    padding: 15px;
}
table{
    background-color: black;
    width: 100%;
    text-align: center;
}
th{
    background-color: aliceblue;
}
td{
    background-color: aliceblue;
}

.formulario{
    width: 40%;
    margin-left: 15%;
    margin-top: 5%;
    position:fixed;
    display: none;
}
form div{
    padding: 10px;
    display: flex;
}
form legend{
    padding: 10px;
    background-color: rgb(83, 81, 81);
    color: #fff;
    border-radius: 20px;
}
form fieldset{
    color: #000 ;
    padding: 10px;
    background-color: rgb(119, 115, 115);
    border-radius: 10px;
}
form div label{
    width: 20%;
}
.fechar_form{
    position: relative;
    top: 40px;
    left: 95%;
    background-color: rgb(119, 115, 115);
    width: 40px;
    text-align: center;
    border-radius: 25px;
    color: white;
    box-shadow: #000 2px 2px 2px 1px;
}

.fechar_form:hover{
    background-color: rgb(97, 94, 94);
    cursor: pointer;
}

.acoes{
    padding: 5px;
}