main{
    padding: 20px;
    width: 100%;
}

.cards{
    display: flex;
    width: 100%;
}
.card{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 20%;
}
p{
    padding: 10px;
}
.card i{
    font-size: 24px;
}

.total_os{
    background-color: #EDF2FA;
    box-shadow:1px 0px 0px 1px #a1b3cf;
    border: solid 1px #a1b3cf;
}
.canceladas_os{
    background-color: #F8F0F1;
    box-shadow:1px 0px 0px 1px #e499a2;
    border: solid 1px #e499a2;
}
.faturamento_os{
    background-color: #EEF7F3;
    box-shadow:1px 0px 0px 1px #68b45e;
    border: solid 1px #68b45e;
}
.pendente_os{
    background-color: #f8e4c2b6;
    box-shadow:1px 0px 0px 1px #aa7b29;
    border: solid 1px #aa7b29;
}

.container{
    display: flex;
    padding: 10px;
}
.status{
    width: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color:#e4d8d894 ;
    box-shadow:0px 1px 1px 2px #31282838;
}

.status ul{
    list-style: none;   
}

.status ul li{
    padding: 10px; 
    border-bottom: solid 1px rgba(0, 0, 0, 0.103); 
}

.status ul li span{
    float: right;
}

.recentes{
    width: 70%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color:#e4d8d894 ;
    box-shadow:0px 1px 1px 2px #31282838;
}

table{
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
tr:hover{
    cursor: pointer;
    color: #024cc4;
}
th{
    background-color: #e4d8d8;
}
td{
    background-color: #e4d8d8;
}
